<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optimizely.tutorialapp" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="optly2225361645" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingTableActivity"
            android:label="@string/title_activity_landing_table" >
        </activity>

        <activity
            android:name=".VisualEditorActivity"
            android:label="@string/title_activity_visual_editor" >
        </activity>
        <activity
            android:name=".CodeBlocksActivity"
            android:label="@string/title_activity_code_blocks" >
        </activity>
        <activity
            android:name=".LiveVariablesListActivity"
            android:label="LiveVariablesListActivity" >
        </activity>
    </application>

</manifest>
